//-----------------------------------------------------------------
// Game Skeleton Resources
// RC Source - Roguelight.rc - version v2_16 jan 2015 
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_BIG			ICON         "big.ico"
IDI_SMALL		ICON         "small.ico"
